<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение ингридиента</title>
</head>
<body ng-app="cm">

<div ng-controller="finder">
    Компонент: <input ng-model="name">
    <button ng-click="find()">найти</button>


<form ng-show="msg" action="/skin-expert/add-component" method="post">
    <input type="hidden" name="id" value="{{msg.id}}">
    Название: <input type="text" name="name" value="{{msg.name}}"><br>
    Описание: <input type="text" name="description" value="{{msg.description}}"><br>
    Тип(D,N,G): <input type="text" name="type" value="{{msg.type}}"><br>

    <input type="submit" value="Изменить">
</form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/component-manager.js"></script>
</body>
</html>