<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение ингридиента</title>
</head>
<body ng-app="cm">

<div ng-controller="clicker">
    Компонент: <input ng-model="name">
    <button ng-click="find()">найти</button>
<div>{{msg}}
    </div>

<form ng-show="show">
    <input type="hidden" ng-model="id">
    Название: <input type="text" ng-model="name"><br>
    Название на английском: <input type="text" ng-model="nameENG"><br>
    Описание: <input type="text" ng-model="description"><br>
    Тип(D,M,G): <input type="text" ng-model="type"><br>

    <button ng-click="add()">Изменить</button>
</form>

    <div><a href="/skin-expert/test">to admin page</a></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/component-manager.js"></script>
</body>
</html>