<%= _.template(require('./../includes/header.html'))(data) %>

<section class="section">
    <h2 class="main-title">Загрузить фото</h2>
    <div class="container">
        <form class="upload" method="post" enctype="multipart/form-data" action="#">
           <div class="upload__inner">
                <div class="upload__file image">
                    <label for="loadImg">
                        <input class="file-img" id="loadImg" type="file" accept=".jpg, .jpeg, .png">
                        <i class="icon icon-upload-cloud"></i>
                    </label>
                </div>
                <div class="upload__file camera">
                    <label for="camera">
                        <input class="file-camera" type="file" id="camera" accept="image/*" capture="camera"/>
                        <i class="icon icon-camera"></i>
                    </label>
                </div>
           </div>
            <div class="loaded-img">
                <img src="" alt="" id="img">
            </div>

            <button class="btn btn-send" type="submit" id="send">Send</button>
        </form>
    </div>

    <a href="index.html" class="home-btn">
        <i class="icon-home"></i>
    </a>
</section>






<%= _.template(require('./../includes/footer.html'))(data) %>