<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.min.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="css/all.min.css" type="text/css">
  <link rel="stylesheet" href="css/style.css">

  <link rel="icon" href="img/favicons/favicon.ico" type="image/x-icon" />
  <link rel="icon" type="ia/png" href="img/favicons/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="ia/png" href="img/favicons/favicon-16x16.png" sizes="16x16" />
  <link href='img/favicons/favicon-96x96.png' rel='shortcut icon' type='image/x-icon' />
  <link href='img/favicons/favicon-96x96.png' rel='icon' type='image/x-icon' />

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/favicons/apple-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicons/apple-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/favicons/apple-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicons/apple-icon-144x144.png" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <title>Skin Expert</title>
</head>

<body ng-app="cm" ng-controller="clicker">
  <header class="header">
    <div class="logo">
      <a href="index.html">
			<img src="img/logo.png" alt="" class="logo__link">
		</a>
    </div>
  </header>

  <section class="section">
    <h2 class="main-title">Поиск</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-8 d-block mx-auto">
          <form action="#" class="search">
            <div class="search__inner" style="height: 38px;">
              <input ng-model="name" type="text" placeholder="Введите компонент" class="search__input">
              <button ng-click="find()" class="btn search__btn">Найти</button>
            </div>
          </form>

          <div> <!--its response if some bad -->
            <th scope="col">{{msg}}</th>
          </div>
          <div ng-repeat="c in components"> <!-- it response of searche-->
            <div ng-if="c.type == 'D'">
              <div class="alert alert-danger" role="alert">
                {{c.type}} <strong>компонент {{c.name}}</strong>  <br> <small>Описание: {{c.description}}</small>
              </div>
            </div>
            <div ng-if="c.type == 'G'">
              <div class="alert alert-success" role="alert">
                {{c.type}} <strong>компонент {{c.name}}</strong>  <br> <small>Описание: {{c.description}}</small>
              </div>
            </div>
            <div ng-if="c.type == 'G'">
              <div class="alert alert-warning" role="alert">
                {{c.type}} <strong>компонент {{c.name}}</strong>  <br> <small>Описание: {{c.description}}</small>
              </div>
            </div>



            {{c.type}} компонент {{c.name}} <br> Описание: {{c.description}}
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="go-home">
    <a href="index.html">
      <i class="fas fa-home" style="padding-top: 9px;"></i>
    </a>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="footer-inner">
        <div class="footer-inner">
        <p class="copiright">Copyright © 2018 SkinExpert. All rights reserved.</p>
        <p class="policy">
			<a href="about.html"><span>SkinExpert</span></a> |
			<a href="privacy.html"><span>Privacy Policy</span></a>
        </p>
      </div>
      </div>
    </div>
  </footer>

  <!-- un for work sorry
  <script src="js/bundle.js" defer></script>
  -->

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="admin/js/component-manager.js"></script>


</body>

</html>