<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.min.css">

  <link rel="icon" href="img/favicons/favicon.ico" type="image/x-icon" />
  <link rel="icon" type="ia/png" href="img/favicons/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="ia/png" href="img/favicons/favicon-16x16.png" sizes="16x16" />
  <link href='img/favicons/favicon-96x96.png' rel='shortcut icon' type='image/x-icon' />
  <link href='img/favicons/favicon-96x96.png' rel='icon' type='image/x-icon' />

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/favicons/apple-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicons/apple-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/favicons/apple-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicons/apple-icon-144x144.png" />
  <title>Skin Expert</title>
</head>

<body ng-app="pp">
  <header class="header">
    <div class="logo">
		<a href="index.html">
			<img src="img/logo.png" alt="" class="logo__link">
		</a>
    </div>
  </header>

  <section class="section">

    <h2 class="main-title">Загрузить фото</h2>
    <div ng-controller="parse" class="container">

        <label>Выбрать файл</label>
        <input id="photo" type='file'/>
        <button ng-click="getParseResult()">Сканировать</button>
      <br>
      <br>

      <!-- This is handle multi find  -->
      <div ng-show = "showFind">
        Введите еще: <input ng-model="comstr" type="text" placeholder=" что найти ... (X;Y;R)">
        <button ng-click="find()">Найти</button>
        <br>
        <br>
      </div>

      <!--This div contain element by wait of parse photo -->
      <div ng-show="waitInfoShow">{{waitInfo}}</div>

      <!-- This is result of handle search-->
      <div ng-repeat="component in handleComponents">
        <div>
          {{component.name}} - {{component.type}}.
          <br> {{component.description}}
          <hr>
        </div>
      </div>

      <!-- This div contain parse result -->
      <div ng-repeat="component in components">
        <div>
          {{component.name}} - {{component.type}}.
          <br> {{component.description}}
          <hr>
        </div>
      </div>
    </div>

    <a href="index.html" class="home-btn">
        <i class="icon-home"></i>
    </a>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="footer-inner">
        <div class="footer-inner">
        <p class="copiright">Copyright © 2018 SkinExpert. All rights reserved.</p>
        <p class="policy">
			<a href="about.html"><span>SkinExpert</span></a> |
			<a href="privacy.html"><span>Privacy Policy</span></a>
        </p>
      </div>
      </div>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="js/bundle.js" defer></script>
<script src="js/photo-parser.js"></script>
</body>

</html>